/* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=PT+Sans&family=Protest+Riot&family=Quicksand:wght@300&family=Roboto:ital,wght@1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Kalam:wght@700&family=PT+Sans&family=Protest+Riot&family=Quicksand:wght@300&family=Roboto:ital,wght@1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bevan:ital@0;1&family=Kalam:wght@700&family=PT+Sans&family=Protest+Riot&family=Quicksand:wght@300&family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')